
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1>New Report</h1>
    <br/>
    <form id="reportForm" class="form form-report" method="POST" action="" role="form">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.accusation_id.label }}
        {{ form.accusation_id(placeholder="Accusation", class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.area.label }}
        {{ form.area(placeholder="Area: Manples, Namba2, Pango...", class_="form-control") }}
      </div>
      <div class="form-group">
        {{ form.time.label }}
        {{ form.time(class_="dtpick") }}
      </div>
      <p><input class="btn btn-default btn-submit" type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}
